In [61]:
import os
import pandas as pd
import time
from pykrx import stock
import matplotlib.pyplot as plt
from datetime import datetime, timedelta
import numpy as np

In [192]:
df = stock.get_etf_ohlcv_by_date("20000101", "2021041", "256450")
df

                 NAV     시가     고가     저가     종가   거래량      거래대금     기초지수
날짜
2016-11-08  10019.63  10055  10055   9950  10010   706   7040780  2150.30
2016-11-09  10025.56   9970  10090   9970  10085  9789  98607545  2123.84
2016-11-10  10097.81  10150  10150  10060  10110   521   5256085  2143.32
2016-11-11  10203.93  10270  10270  10090  10160   249   2538495  2147.11
2016-11-14  10309.65  10130  10370  10130  10355   407   4201705  2161.69
...              ...    ...    ...    ...    ...   ...       ...      ...
2021-03-26  11298.95  11390  11695  11300  11685  6336  72866835  2745.40
2021-03-29  11683.08  11685  11735  11600  11685  3206  37429985  2733.96
2021-03-30  11627.59  11685  11735  11600  11700  6052  70668835  2771.32
2021-03-31  11776.33  11700  11730  11590  11620   795   9243720  2758.50
2021-04-01  11951.20  11745  11785  11705  11755  4587  53822885  2814.59

[1080 rows x 8 columns]

In [43]:

#os.mkdir("ETF")

ticker_list = stock.get_etf_ticker_list()
for ticker in ticker_list:
        save_file = f"./ETF/{ticker}.xlsx"
        #if os.path.exists(save_file):
        #    continue
        try:
            #print(ticker)
            df = stock.get_etf_ohlcv_by_date("20000101", "2021041", ticker)
            
        except ValueError:
            print(ticker+" error!")
        
        df.to_excel(save_file)
        time.sleep(0.1)

214980 error!
153130 error!

In [44]:


def set_etf_period_returns():
    path_dir = './ETF'

    file_list = os.listdir(path_dir)

    for file in file_list:
        # 데이터 가져오기
        df = pd.read_excel(f"{path_dir}/{file}", index_col=0)
        
        df['1개월수익률'] = df['종가'].pct_change(periods=30)*100
        df['2개월수익률'] = df['종가'].pct_change(periods=60)*100
        df['3개월수익률'] = df['종가'].pct_change(periods=90)*100
        df['4개월수익률'] = df['종가'].pct_change(periods=120)*100
        df['5개월수익률'] = df['종가'].pct_change(periods=150)*100
        df['6개월수익률'] = df['종가'].pct_change(periods=180)*100
        df['7개월수익률'] = df['종가'].pct_change(periods=210)*100
        df['8개월수익률'] = df['종가'].pct_change(periods=240)*100
        df['9개월수익률'] = df['종가'].pct_change(periods=270)*100
        df['10개월수익률'] = df['종가'].pct_change(periods=300)*100
        df['11개월수익률'] = df['종가'].pct_change(periods=330)*100
        df['12개월수익률'] = df['종가'].pct_change(periods=360)*100
        #df = df.fillna(0)
        df.to_excel(f"{path_dir}/{file}")

set_etf_period_returns()

In [91]:
path_dir = './ETF'

dd

columns = ['name', 'code', 'start', 'end', 'returns']
rows=[]
file_list = os.listdir(path_dir)
for file in file_list:
   df = pd.read_excel(f"ETF/{file}", index_col=0)
   수익률=(df.iloc[-1]['종가']/df.iloc[0]['종가']-1)*100
   ticker = file.split('.')[0]
   rows.append([stock.get_etf_ticker_name(ticker), ticker, df.index[0], df.index[-1] , 수익률])
   #break
#df = pd.read_excel(f"ETF/069500.xlsx", index_col=0)
#df.index
#
#plt.legend(loc='best')
#plt.show()

In [92]:
df = pd.DataFrame(rows, columns=columns)
df = df.sort_values(by='returns', ascending=False)

In [13]:
df.head()

                 NAV     시가     고가     저가     종가   거래량       거래대금     기초지수
날짜
2018-07-20  49927.22  50000  50000  49925  49925   101    5049925  1270.06
2018-07-23  50003.96  50040  50040  50040  50040   100    5004000  1268.18
2018-07-24  50132.91  50120  50125  50120  50125  2100  105252500  1264.95
2018-07-25  50028.47  50135  50135  50135  50135   100    5013500  1267.66
2018-07-26  50060.54      0      0      0  50055     0          0  1266.93

In [30]:

a

-2.0831246870305464

In [25]:
print(df.iloc[0]['종가'])
print(df.iloc[-1]['종가'])

49925.0
48885.0

In [62]:
df['삼개월수익률'] = df['종가'].pct_change(periods=90)*100

In [79]:
df.iloc[90]

NAV       8.042760e+03
시가        7.840000e+03
고가        8.040000e+03
저가        7.840000e+03
종가        8.010000e+03
거래량       2.448722e+06
거래대금      1.956806e+10
기초지수      7.832000e+01
3개월수익률    3.354839e+00
삼개월수익률    3.354839e+00
육개월수익률             NaN
Name: 2003-02-24 00:00:00, dtype: float64

In [65]:
df['육개월수익률'] = df['종가'].pct_change(periods=180)*100

In [95]:
df = pd.read_excel("./ETF/069500.xlsx", index_col=0)

In [103]:
df.columns

Index(['NAV', '시가', '고가', '저가', '종가', '거래량', '거래대금', '기초지수', '1개월수익률',
       '3개월수익률', '6개월수익률'],
      dtype='object')

In [111]:
df.loc['2021-03-16']

NAV       4.242362e+04
시가        4.218000e+04
고가        4.243500e+04
저가        4.209000e+04
종가        4.233000e+04
거래량       5.575783e+06
거래대금      2.357258e+11
기초지수      4.173100e+02
1개월수익률    6.180176e-01
3개월수익률    3.833333e+01
6개월수익률    5.074786e+01
Name: 2021-03-16 00:00:00, dtype: float64

In [47]:
from datetime import datetime, timedelta


def get_etf_returns(start_date, getNum=10):
    '''
        start_date의 모든 ETF의 1~6개월 수익률을 구한다.
        상대적 모멘텀
    '''

    path_dir = './ETF'

    start_day = datetime.strptime(start_date,'%Y-%m-%d')
    columns = ['name', 'code', '1개월수익률', '2개월수익률', '3개월수익률', '4개월수익률', '5개월수익률', '6개월수익률']
    rows=[]
    file_list = os.listdir(path_dir)

    for file in file_list:
        # 데이터 가져오기
        df = pd.read_excel(f"ETF/{file}", index_col=0)

        # 날짜 체크
        start_date_ok = 0
        for n in range(7):
            try:
                if(not df.loc[start_day+timedelta(days=n)].empty):
                    #print(start_day+timedelta(days=n))
                    start_day = start_day+timedelta(days=n)
                    start_date_ok = 1
                    break
            except KeyError:
                #print("Can't find date:")
                continue    

        if start_date_ok != 1:
            #print("can't find start date")
            break
        
        #수익률=(df.iloc[-1]['종가']/df.iloc[0]['종가']-1)*100
        ticker = file.split('.')[0]
        #print(start_day, ticker)
        
        rows.append([stock.get_etf_ticker_name(ticker), ticker, df.loc[start_day,'1개월수익률'], df.loc[start_day,'2개월수익률'], df.loc[start_day,'3개월수익률'], df.loc                           [start_day,'4개월수익률'], df.loc[start_day,'5개월수익률'], df.loc[start_day,'6개월수익률']])

    df = pd.DataFrame(rows, columns=columns)
    df = df.fillna(0)
    df = df.sort_values(by='6개월수익률', ascending=False)
    df = df[:getNum]
    
    #df = df.sort_values(by='returns', ascending=False)
    return df


def get_abs_etf_returns(relMomt, date):
    '''
        절대적 모멘텀
        상대적 메멘텀으로 가져온 종목들의 1개월 수익률을 구하고
        특정 수익과 비교
        낮으면 매도
        높으면 유지
    '''
    date = datetime.strptime(date,'%Y-%m-%d')
    for _, row in relMomt.iterrows():
        #print(row[1])
        df = pd.read_excel(f"ETF/{row[1]}.xlsx", index_col=0)
        # 날짜 체크
        for n in range(7):
            try:
                #df.loc[date+timedelta(days=n)]
                #print(start_day+timedelta(days=n))
                date = date+timedelta(days=n)
                date_ok = 1
                break
            except KeyError:
                #print("Can't find date:")
                continue

        if date_ok != 1:
            #print("can't find start date")
            break;

        print(stock.get_etf_ticker_name(row[1]), row[1], df.loc[date, '1개월수익률'])

In [49]:
df = get_etf_returns("2021-03-01", 5)
df

can't find start date

,name,code,1개월수익률,2개월수익률,3개월수익률,4개월수익률,5개월수익률,6개월수익률
5,TIGER 200에너지화학레버리지,243890,-5.800125,49.305556,109.221501,85.040984,173.636364,190.167095
8,TIGER 200 IT,139260,-1.958369,36.722776,51.966399,55.559898,63.752314,62.947799
9,KODEX KTOP30,229720,-3.649635,21.675007,35.642983,32.796781,49.902661,54.515050
18,ARIRANG KS모멘텀가중TR,333960,-3.978622,18.766067,30.772341,25.543478,35.996636,44.568619
3,TIGER 소프트웨어,157490,5.552070,23.895434,25.419307,14.689843,29.026074,43.926433

In [50]:
df = get_etf_returns("2021-03-01", 15)
df

can't find start date

,name,code,1개월수익률,2개월수익률,3개월수익률,4개월수익률,5개월수익률,6개월수익률
5,TIGER 200에너지화학레버리지,243890,-5.800125,49.305556,109.221501,85.040984,173.636364,190.167095
8,TIGER 200 IT,139260,-1.958369,36.722776,51.966399,55.559898,63.752314,62.947799
9,KODEX KTOP30,229720,-3.649635,21.675007,35.642983,32.796781,49.902661,54.515050
18,ARIRANG KS모멘텀가중TR,333960,-3.978622,18.766067,30.772341,25.543478,35.996636,44.568619
3,TIGER 소프트웨어,157490,5.552070,23.895434,25.419307,14.689843,29.026074,43.926433
7,TIGER KRX300,292160,-3.891245,19.919079,31.501706,33.091537,41.863034,43.234201
13,KINDEX 스마트밸류,272230,-2.753442,22.410398,34.081104,35.424837,43.888889,42.438130
12,KODEX WTI원유선물(H),261220,13.207547,33.136095,42.630745,33.432172,40.845070,40.734949
1,ARIRANG 심천차이넥스트(합성),256450,-1.384615,16.704597,12.111937,9.292413,9.479078,37.775390
19,TIGER 증권,157500,-7.684320,7.108434,22.451791,20.135135,37.403400,31.703704
17,KBSTAR 헬스케어,253280,-15.463646,-6.715116,4.289893,-5.115316,10.655172,27.695981
4,KODEX 기계장비,102960,-7.461240,2.139037,20.125786,17.610837,26.155878,17.755857
16,KINDEX Fn성장소비주도주,226380,-1.208054,10.510511,13.405239,9.687034,13.667954,17.011129
10,TIGER 의료기기,307510,-11.675000,-9.757344,-15.112926,-11.939182,5.180113,16.178889
2,TIGER 일본TOPIX(합성 H),195920,1.070386,5.986395,14.727541,17.451941,19.204285,14.939137

In [38]:
get_abs_etf_returns(df, "2021-04-01")

TIGER 200에너지화학레버리지 243890 -17.56935270805813
TIGER 200IT레버리지 243880 -12.24021420374857
TIGER 레버리지 123320 -2.602372751626481
HANARO 200선물레버리지 304780 -2.412645590682194
KINDEX 레버리지 152500 -2.933088909257564
ARIRANG 200선물레버리지 253150 -2.309700743121113
KBSTAR 200선물레버리지 252400 -2.411799880406618
KODEX 레버리지 122630 -2.644927536231889
KOSEF 200선물레버리지 253250 -2.443950717026866
KODEX 2차전지산업 305720 -11.52998776009792

In [223]:
pd.options.display.float_format = '{:.2f}'.format
df = df.sort_values(by='1개월수익률', ascending=False)
df.head(20)

,name,code,1개월수익률,2개월수익률,3개월수익률,4개월수익률,5개월수익률,6개월수익률
453,KODEX 운송,140710,14.73,21.31,30.49,65.34,89.48,88.89
427,TIGER 차이나CSI300인버스(합성),217780,13.83,-2.45,-8.47,-12.29,-11.59,-11.39
337,KODEX 철강,117680,12.92,16.67,35.91,47.43,51.19,55.70
287,TIGER 유로스탁스배당30,245350,12.23,15.83,20.57,26.73,24.61,26.28
170,TIGER 유로스탁스레버리지(합성 H),225050,12.13,21.45,28.58,45.34,38.24,37.52
105,KODEX 미국S&P산업재(합성),200030,11.65,15.90,15.26,22.53,22.84,35.16
140,TIGER 은행,091220,11.49,16.99,14.48,36.56,39.63,40.41
201,TIGER 200 중공업,139230,11.21,8.36,18.47,34.25,38.65,40.80
231,KBSTAR 200중공업,285010,11.12,8.22,17.98,33.77,38.13,39.81
270,KODEX 은행,091170,10.94,16.35,14.22,36.06,38.43,40.06
112,ARIRANG 미국다우존스고배당주(합성 H),213630,10.80,20.71,22.86,36.86,37.86,44.62
86,KODEX 미국S&P에너지(합성),218420,10.53,31.87,35.75,54.06,26.69,23.42
122,KBSTAR 200철강소재,285020,10.22,15.72,35.08,50.27,53.30,60.52
234,KBSTAR 미국장기국채선물인버스2X(합성 H),267500,9.94,21.22,23.47,24.69,27.66,27.77
49,TIGER 200 철강소재,139240,9.87,14.58,34.86,49.74,53.31,60.09
370,KOSEF 고배당,104530,9.77,14.41,17.28,32.95,42.12,42.94
345,ARIRANG S&P글로벌인프라,269530,9.52,11.77,9.94,15.90,11.39,14.74
266,KBSTAR 팔라듐선물(H),334690,9.44,5.49,11.05,8.90,16.77,31.26
240,TIGER 코스피고배당,210780,9.16,17.47,23.36,37.88,48.53,51.08
310,KODEX 보험,140700,9.00,9.47,12.13,22.59,26.57,30.95

In [28]:
#df.loc["2020-01-01"]
from datetime import datetime, timedelta
date = datetime.strptime("2020-01-01",'%Y-%m-%d')
date.weekday()
df = pd.read_excel(f"ETF/069500.xlsx", index_col=0) # KODEX 200

for n in range(7):
    try:
        if(not df.loc[date+timedelta(days=n)].empty):
            print("T")
        #print(date+timedelta(days=n))
    except KeyError:
        print("keyError")
        continue

keyError
T
T
keyError
keyError
T
T

In [133]:
df.loc["2018-07-20", '종가']

49925.0

In [32]:
df[:2]

,NAV,시가,고가,저가,종가,거래량,거래대금,기초지수,1개월수익률,3개월수익률,6개월수익률
날짜,,,,,,,,,,,
2002-10-14,7727.89,7800,8000,7590,7750,2577230,19915990000,77.27,0.0,0.0,0.0
2002-10-15,7921.53,7850,7980,7700,7940,2288769,17893721760,79.21,0.0,0.0,0.0

In [45]:
df = pd.read_excel(f"ETF/069500.xlsx", index_col=0) # KODEX 200

In [46]:


df

,NAV,시가,고가,저가,종가,거래량,거래대금,기초지수,1개월수익률,2개월수익률,3개월수익률,4개월수익률,5개월수익률,6개월수익률,7개월수익률,8개월수익률,9개월수익률,10개월수익률,11개월수익률,12개월수익률
날짜,,,,,,,,,,,,,,,,,,,,
2002-10-14,7727.89,7800,8000,7590,7750,2577230,19915990000,77.27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-10-15,7921.53,7850,7980,7700,7940,2288769,17893721760,79.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-10-16,8010.07,8040,8040,7910,7970,2039150,16269042600,80.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-10-17,8118.38,7980,8180,7870,8080,2091777,16837927960,81.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-10-18,8456.22,8300,8500,8250,8430,1321300,11076949000,84.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-29,41885.36,42050,42060,41670,41830,6417371,268714517650,412.05,-1.991565,9.963197,25.672225,35.833739,31.046366,45.876199,61.318936,70.456398,46.797684,40.227958,47.939876,52.026168
2021-03-30,42405.43,41940,42455,41940,42300,5099664,215601592100,416.61,-2.320748,9.344707,24.430063,36.078494,35.316699,45.285935,61.112169,69.709127,46.824019,40.648379,49.575672,53.539020
2021-03-31,42242.86,42410,42695,42175,42185,7237093,306821963975,415.04,-3.011840,6.797468,24.128292,34.240255,34.475614,46.653920,57.818930,71.763029,48.591053,38.834951,49.010950,52.264934
2021-04-01,42683.41,42485,42650,42315,42570,5221705,222156542815,419.42,-1.057525,5.007400,25.390280,35.164312,41.147215,48.430962,59.169938,70.621242,51.521623,39.436620,51.037786,54.155350
2021-04-02,43117.77,42920,43190,42895,43045,5352010,230445530640,423.79,1.497288,4.605103,26.621562,35.361635,40.601013,49.384001,60.465983,71.085056,58.311879,41.828666,55.397112,57.443307

In [167]:


def get_rltv_momentum(start_date, target_month=3, get_number=10):
    '''
        상대적 모멘텀
        start_date : 시작 날짜
        target_month : 몇달 수익률을 기준으로 정렬할 것 인가? 기본 3개월 수익률
        get_number: 몇개의 상위 종목을 가져올 것인가, 기본 10개
    '''

    path_dir = './ETF/test'
    target_month_col = f"{target_month}개월수익률"
    start_day = datetime.strptime(start_date,'%Y-%m-%d')

    columns = ['ticker', 'name', 'buy_date', 'buy_price',target_month_col]
    rows=[]
    index=[]
    file_list = os.listdir(path_dir)

    for file in file_list:
        # 데이터 가져오기
        if( file.split(".")[1]!="xlsx"):
            #print(file)
            continue;

        #print(f"{path_dir}/{file}")
        df = pd.read_excel(f"{path_dir}/{file}", index_col=0)

        # 날짜 체크
        start_date_ok = 0
        for n in range(7):
            try:
                if(not df.loc[start_day+timedelta(days=n)].empty):
                    #print(start_day+timedelta(days=n))
                    start_day = start_day+timedelta(days=n)
                    start_date_ok = 1
                    break
            except KeyError:
                #print("Can't find date:")
                continue    

        if start_date_ok != 1:
            #print("can't find start date")
            continue

        ticker = file.split('.')[0]
        #print(ticker)

        # 수익률이 -이거나 NaN이면 생략한다.
        if(df.loc[start_day, target_month_col]<0 or np.isnan(df.loc[start_day, target_month_col])):
            continue

        #index.append(ticker)
        rows.append([ticker, stock.get_etf_ticker_name(ticker), start_day, df.loc[start_day,'종가'] ,df.loc[start_day, target_month_col]])


    #df = pd.DataFrame(rows, index=index,  columns=columns)
    df = pd.DataFrame(rows, columns=columns)
    #df = df.fillna(0)
    df = df.sort_values(by=target_month_col, ascending=False)
    df = df[:get_number]
    
    #df = df.sort_values(by='returns', ascending=False)
    return df

In [168]:
start_date = "2009-01-01"
end_date = "2020-04-01"
target_month = 3
PORTPOLIO_NUMBER = 10
period = 30 # 1month

rltv_mnt_df = get_rltv_momentum(start_date, 3, 10)
rltv_mnt_df

   ticker              name   buy_date  buy_price    3개월수익률
1  098560        TIGER 방송통신 2009-01-02       9630  4.959128
0  101280  KODEX 일본TOPIX100 2009-01-02       8780  0.919540

In [176]:
port_rows=[]
port_columns = ['ticker', 'name', 'buy_date', 'buy_price', 'buy_num', 'sell_date', 'sell_price', 'profit']

myPort = pd.DataFrame(port_rows, columns=port_columns)


def updatePortpolio(myPort, data, buy_sell):
    '''
    buy_sell : 1=> sell, 0=> buy
    '''

    if( len(myPort) < PORTPOLIO_NUMBER and buy_sell==1 ): # buy case

            myPort = data.copy()

            # TODO: update buy_price

    elif( len(myPort)>0 and buy_sell==0 ): # sell case
        for _, row in data.iterrows():
            #print(row[0])
            drop_index = myPort[myPort['ticker']==row[0]].index
            #print(drop_index)
            myPort.drop(drop_index, inplace=True)

    return myPort
#end of function

In [192]:

start_date = start_date+timedelta(days=30)
print(start_date)
start_date = start_date.strftime("%Y-%m-%d")
print(start_date)

2009-05-01 00:00:00
2009-05-01

In [211]:

def getNextPeriodDate(str_date, period=30):
    start_date = datetime.strptime(str_date,'%Y-%m-%d')
    start_date = start_date+timedelta(days=period) # 리벨런싱 기간 후
    start_date = start_date.strftime("%Y-%m-%d")
    return start_date


getNextPeriodDate("2009-04-01", 30)

'2009-05-01'

In [ ]:

# 절대적 모멘텀: 1개월 후 수익률이 0보다 작은 종목 리턴

sel_code = get_abs_momentum(rltv_mnt_df, start_date, calc_period)

get_rltv_number = PORTPOLIO_NUMBER - len(rltv_mnt_df) +len(sel_code) # 새로 매수할 종목 수 계산


# 포트폴리오 업데이트: 매도

myPortpolio = updatePortpolio(myPortpolio, 0, sel_code)



myPort = updatePortpolio(myPort, rltv_mnt_df, 1)
print(myPort)

myPort = updatePortpolio(myPort, rltv_mnt_df, 0)
len(myPort)

In [104]:
len(rltv_mnt_df)

2

In [139]:
my_df = pd.DataFrame(data=[4,5,6,7], index=[1,2,3,4], columns=['A'])

In [140]:
my_df

   A
1  4
2  5
3  6
4  7

In [149]:
my_df.index[0]

1